/* Luu Tri Nhan - Lap trinh web */

/* Header Section */
.header {
  display: flex;
  /* align-items: Can giua cac phan tu theo truc doc Y */
  align-items: center;
  /* justify-content: Can giua cac phan tu theo truc ngang X */
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  position: relative;
}

.bubble-left {
  background-color: var(--color-orange);
  color: var(--color-white);
  /* Padding deu 25px ca 4 huong */
  padding: 25px; /* padding: 25px 25px 25px 25px => Viet 1 lan 25px */ /* padding: top right bottom left -> Di theo chieu kim dong ho */ /* padding: 10px 35px (Neu doi xung) */
  border-radius: 50px; /* Bo tron goc */
  position: relative;
  width: 250px;
  box-shadow: var(--shadow-bubble);
}

.bubble-left::after {
  /* 
    ::after : La cong cu giup CSS tu dong chen them mot phan tu con ao vao vi tri cuoi cung ben trong phan tu duoc chon.
    O day chung ta dang lam hinh tam giac, kieu mui ten (arrow) huong ve phia ben phai cua bubble-left. (Phia sau theo chieu ngang)
  */
  content: ""; /* Noi dung de trong */
  position: absolute; /* Thay doi vi tri phu thuoc vao phan tu cha cua no (bubble-left). */
  right: -20px;
  top: 50%; /* Cach top khoang 50%, phan tu duoc can ve giua theo chieu doc nhung noi dung phan tu se o phia duoi cua 50% nen chua the chinh giua duoc. */
  transform: translateY(
    -50%
  ); /* Ket hop cai dich chuyen nay de dat muc tieu la chinh giua: keo phan tu nguoc len tren truc doc Y mot khoang bang dung mot nua chieu cao cua chinh no. */
  border-width: 15px 0 15px 25px; /* Tao hinh tam giac mui ten: Dat do day cho 4 canh border (Tren 15px - Phai 0px - Duoi 15px - Trai 25px). */
  border-style: solid; /* Kieu vien net lien */
  border-color: transparent transparent transparent var(--color-orange); /* Giau 3 canh Tren - Phai - Duoi bang mau trong suot, chua lai canh Trai co mau cam de tao thanh hinh tam giac nhon chi sang Phai. */
}

.hello-text {
  font-family: var(--font-handwriting);
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.avatar {
  width: 180px;
  height: 250px;
  background-color: var(--color-white);
  border-radius: 90px 90px 20px 20px; /* Lan luot: Top-Left, Top-Right, Bottom-Right, Bottom-Left -> Theo chieu kim dong ho */
  box-shadow: 0 25px 0 -5px var(--color-teal); /* Them bong do ben duoi mo phong cai buc xanh */
  overflow: hidden; /* De anh avatar khong bi tran ra khoi khung */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-fit cover: Trinh duyet se tu dong co gian tam anh sao cho chieu rong va chieu cao cua anh phu kin duoc hoan toan dien tich cua vung chua no */

  /* object-fit contain: Trinh duyet se tu dong co gian tam anh sao cho toan bo tam anh nam tron ven, day du 100% ben trong vung chua no */
}

.bubble-right {
  background-color: var(--color-yellow);
  padding: 40px 60px;
  position: relative;
  min-width: 450px;
  box-shadow: var(--shadow-bubble);

  /*
    + Ky thuat bo goc nang cao, bat doi xung: ban kinh ngang X / ban kinh doc Y.

    + X: 50% 50% 50% 10px Dinh nghia do dai bo theo chieu ngang X cua 4 goc (theo chieu kim dong ho Top - Right - Bottom - Left).

    + Y: 60% 60% 40% 10px Dinh nghia do dai bo theo chieu doc Y cua 4 goc (theo chieu kim dong ho Top - Right - Bottom - Left).

    ---

    Top-Left: Co ban kinh ngang 50% va doc 60%.
    Top-Right: Co ban kinh ngang 50% va doc 60%.
    Bottom-Right: Co ban kinh ngang 50% va doc 40%.
    Bottom-Left: Co ban kinh ngang 10px va doc 10px.
  */
  border-radius: 50% 50% 50% 10px / 60% 60% 40% 10px;
}

.bubble-right::before {
  /*
    ::before : La cong cu giup CSS tu dong chen them mot phan tu con ao vao vi tri dau tien ben trong phan tu duoc chon.
    O day chung ta lam mui ten (arrow) huong ve phia ben trai cua bubble-right. (Phia truoc theo chieu ngang)
  */

  content: "";
  position: absolute;
  left: -20px;
  bottom: 40px;
  border-width: 15px 25px 15px 0;
  border-style: solid;
  border-color: transparent var(--color-yellow) transparent transparent;
}

.im-text {
  font-family: var(--font-handwriting);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: -15px;
}

.first-job {
  font-family: var(--font-heading);
  font-size: 60px;
  font-weight: 800;
  line-height: 0.9;
  letter-spacing: -1px; /* letter-spacing: Khoang cach giua cac ky tu */
  margin-bottom: 5px;
}

.second-job {
  font-family: var(--font-heading);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 10px;
}

.third-job {
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  border-top: 2px solid var(--text-dark);
  border-bottom: 2px solid var(--text-dark);
  padding: 5px 0;
  letter-spacing: 2px;
}
